In [1]:
import numpy as np
import pandas as pd

In [2]:
!wget https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2025-11.parquet

--2026-01-26 23:34:49--  https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2025-11.parquet
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 3.167.84.86, 3.167.84.127, 3.167.84.131, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|3.167.84.86|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1164775 (1.1M) [binary/octet-stream]
Saving to: ‘green_tripdata_2025-11.parquet.1’

green_tripdata_2025 100%[===================>]   1.11M  --.-KB/s    in 0.03s

2026-01-26 23:34:49 (36.4 MB/s) - ‘green_tripdata_2025-11.parquet.1’ saved [1164775/1164775]

In [3]:
!wget https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2025-11.parquet

--2026-01-26 23:34:49--  https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2025-11.parquet
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 3.167.84.131, 3.167.84.86, 3.167.84.127, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|3.167.84.131|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1164775 (1.1M) [binary/octet-stream]
Saving to: ‘green_tripdata_2025-11.parquet.2’

green_tripdata_2025 100%[===================>]   1.11M  --.-KB/s    in 0.03s

2026-01-26 23:34:49 (35.0 MB/s) - ‘green_tripdata_2025-11.parquet.2’ saved [1164775/1164775]

In [4]:
df = pd.read_parquet("green_tripdata_2025-11.parquet")

In [5]:
# Display first 10 rows
df.head(10)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1.0,74,42,1.0,0.74,7.2,...,0.5,1.94,0.0,NaN,1.0,11.64,1.0,1.0,0.00,0.00
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1.0,74,42,2.0,0.95,7.2,...,0.5,0.00,0.0,NaN,1.0,9.70,2.0,1.0,0.00,0.00
2,2,2025-11-01 01:03:14,2025-11-01 01:15:24,N,1.0,83,160,1.0,2.19,13.5,...,0.5,5.00,0.0,NaN,1.0,21.00,1.0,1.0,0.00,0.00
3,2,2025-11-01 00:10:57,2025-11-01 00:24:53,N,1.0,166,127,1.0,5.44,24.7,...,0.5,0.50,0.0,NaN,1.0,27.70,1.0,1.0,0.00,0.00
4,1,2025-11-01 00:03:48,2025-11-01 00:19:38,N,1.0,166,262,1.0,3.20,18.4,...,1.5,1.00,0.0,NaN,1.0,24.65,1.0,1.0,2.75,0.00
5,1,2025-11-01 00:42:13,2025-11-01 01:04:50,N,1.0,112,48,2.0,5.10,26.8,...,1.5,6.55,0.0,NaN,1.0,39.35,1.0,1.0,2.75,0.75
6,2,2025-11-01 00:05:41,2025-11-01 00:39:20,N,1.0,83,87,1.0,9.80,43.6,...,0.5,9.92,0.0,NaN,1.0,59.52,1.0,1.0,2.75,0.75
7,2,2025-11-01 00:42:14,2025-11-01 01:13:20,N,1.0,66,233,1.0,5.01,28.9,...,0.5,6.98,0.0,NaN,1.0,41.88,1.0,1.0,2.75,0.75
8,2,2025-11-01 00:03:08,2025-11-01 00:06:27,N,1.0,223,223,1.0,0.63,5.1,...,0.5,1.52,0.0,NaN,1.0,9.12,1.0,1.0,0.00,0.00
9,2,2025-11-01 00:56:33,2025-11-01 01:01:34,N,1.0,130,130,1.0,1.15,7.9,...,0.5,0.00,0.0,NaN,1.0,10.40,2.0,1.0,0.00,0.00

In [6]:
# Check data types
df.dtypes

VendorID                          int32
lpep_pickup_datetime     datetime64[us]
lpep_dropoff_datetime    datetime64[us]
store_and_fwd_flag                  str
RatecodeID                      float64
PULocationID                      int32
DOLocationID                      int32
passenger_count                 float64
trip_distance                   float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
ehail_fee                       float64
improvement_surcharge           float64
total_amount                    float64
payment_type                    float64
trip_type                       float64
congestion_surcharge            float64
cbd_congestion_fee              float64
dtype: object

In [7]:
# Check data shape
df.shape

(46912, 21)

In [8]:
# For the trips in November 2025, how many trips had a trip_distance of less than or equal to 1 mile? 
df.query("lpep_pickup_datetime > '2025-11-01' \
          and lpep_pickup_datetime <= '2025-12-01' \
          and trip_distance <= 1").shape

(8007, 21)

In [9]:
#Which was the pick up day with the longest trip distance? Only consider trips with trip_distance less than 100 miles
df.query('trip_distance < 100') \
    .sort_values('trip_distance', ascending=False)[['lpep_pickup_datetime','trip_distance']].head(1)

      lpep_pickup_datetime  trip_distance
18867  2025-11-14 15:36:27          88.03

In [10]:
# Which was the pickup zone with the largest total_amount (sum of all trips) on November 18th, 2025?
df_locations = pd.read_csv('taxi_zone_lookup.csv')
print(df_locations.shape)
df_locations.head()

(265, 4)

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [11]:
df.query("lpep_pickup_datetime >= '2025-11-18' and lpep_pickup_datetime < '2025-11-19'") \
    .groupby('PULocationID', as_index=False)['total_amount'].sum() \
    .merge(df_locations, left_on='PULocationID', right_on='LocationID') \
    .sort_values('total_amount', ascending=False)[['LocationID','Zone','total_amount']].head(1)

    LocationID               Zone  total_amount
39          74  East Harlem North       9281.92

In [12]:
# For the passengers picked up in the zone named "East Harlem North" in November 2025, which was the drop off zone that had the largest trip?
df.columns

Index(['VendorID', 'lpep_pickup_datetime', 'lpep_dropoff_datetime',
       'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID',
       'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'ehail_fee', 'improvement_surcharge',
       'total_amount', 'payment_type', 'trip_type', 'congestion_surcharge',
       'cbd_congestion_fee'],
      dtype='str')

In [13]:
df.query('PULocationID == 74').groupby('DOLocationID', as_index=False)['tip_amount'].max() \
    .merge(df_locations, left_on='DOLocationID', right_on='LocationID') \
    .sort_values('tip_amount', ascending=False)[['LocationID','Zone','tip_amount']].head(1)

     LocationID            Zone  tip_amount
134         263  Yorkville West       81.89

In [14]:
# Which of the following sequences describes the Terraform workflow for:
# 1) Downloading plugins and setting up backend, 2) Generating and executing changes, 3) Removing all resources?

# 1. terraform init
# 2. terraform apply -auto-approve
# 3. terraform destroy